.esquerda1{
	background-image: url(../imagens/albuns/Charlotte_e_Leo/capa.png);
}
.direita1{
	background-image: url(../imagens/albuns/Ensaio_Marcos/capa.png);
}
.esquerda2{
	background-image: url(../imagens/albuns/Restaurante/capa.png);	
}
.direita2{
	background-image: url(../imagens/albuns/15Anos_Lara/capa.png);
}

.esquerda3{
	background-image: url(../imagens/albuns/Paty_e_Enoch/capa.png);	
}
.direita3{
	background-image: url(../imagens/albuns/Youeni_Foodstore/capa.png);
}

.esquerda4{
	background-image: url(../imagens/albuns/Camila/capa.jpg);	
}
.direita4{
	background-image: url(../imagens/albuns/Leprince/capa.jpg);
}

.esquerda5{
	background-image: url(../imagens/albuns/Forever/capa.png);	
}

.direita5{
	background-image: url(../imagens/albuns/Luisa_Brimble/capa.png);
}