.esquerda1{
	background-image: url(../imagens/albuns/Charlotte_e_Leo/capa.png);
}
.esquerda2{
	background-image: url(../imagens/albuns/Paty_e_Enoch/capa.png);	
}
.direita1{
	background-image: url(../imagens/albuns/15Anos_Lara/capa.png);
}
.direita2{
	background-image: url(../imagens/albuns/Ensaio_Marcos/capa.png);
}