.esquerda1{
	background-image: url(../imagens/albuns/Restaurante/capa.png);
}
.esquerda2{
	background-image: url(../imagens/albuns/15Anos_Luana/capa.png);	
}
.direita1{
	background-image: url(../imagens/albuns/Youeni_Foodstore/capa.png);
}
.direita2{
	background-image: url(../imagens/albuns/Ensaio_Marcos/capa.png);
}