.esquerda1{
	background-image: url(../imagens/albuns/Ensaio_Marcos/capa.png);
}
.esquerda2{
	background-image: url(../imagens/albuns/Camila/capa.jpg);	
}
.direita1{
	background-image: url(../imagens/albuns/Camila/capa.jpg);
}
.direita2{
	background-image: url(../imagens/albuns/Ensaio_Marcos/capa.png);
}