.esquerda1{
	background-image: url(../imagens/albuns/Youeni_Foodstore/capa.png);
}
.esquerda2{
	background-image: url(../imagens/albuns/Forever/capa.png);
}
.direita1{
	background-image: url(../imagens/albuns/Leprince/capa.jpg);
}
.direita2{
	background-image: url(../imagens/albuns/Luisa_Brimble/capa.png);
}